MOLLIE_API_KEY=test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
BREVO_API_KEY=xkeysib-xxxxxxxxxxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_BASE_PATH=
APP_BASE_PATH=/tournament
COOKIE_PATH=/tournament
